@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Poderia nos passar sua opinião ???</p>

    <input type="button" value="Responder" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Responde", "Home")'" />

</div>
